.array-bars {
  padding-top: 7px;
  display: inline-block;
  margin: 0 1px;
  background-color: blueviolet;
}
.container-array {
  position: absolute;
}

#nav {
  cursor: pointer;
}

#left {
  float: left;
}
.nav {
  margin-bottom: 20px;
}
.footer {
  bottom: 0;
  width: 100%;
}

.sortIcon {
  border-bottom: rgb(157, 36, 255);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sortIcon:hover {
  border-bottom: rgb(153, 153, 153);
}
