body {
  background-color: rgb(230, 230, 230);
  font-family: -apple-system, BlinkMacSystemFont, "Comic Sans MS", cursive,
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: center;
}
